task:
  name: jukebox-test

  container:
    image: potyarkin/molecule:host-kvm
    kvm: true

  env:
    PIP_CACHE_DIR: $HOME/cache/pip
    VENVDIR: $HOME/venv

    CLONE_SHA: "{{ GITHUB_SHA }}"
    CLONE_URL: "{{ GITHUB_SERVER_URL }}/{{ GITHUB_REPOSITORY }}.git"

  clone_script:
    - git clone "$CLONE_URL" .
    - git reset --hard "$CLONE_SHA"

  pip_cache:
    folder: $HOME/cache
    fingerprint_script:
      - cat tests/requirements.txt

  iptables_legacy_script:
    - update-alternatives --set iptables /usr/sbin/iptables-legacy
  dbus_background_script:
    - mkdir -p /var/run/dbus
    - /usr/bin/dbus-daemon --system --nofork --nopidfile
  virtlogd_background_script:
    - /usr/sbin/virtlogd
  libvirtd_background_script:
    - sleep 2 && /usr/sbin/libvirtd

  molecule_script:
    - make -C tests
